# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

RC_2019-04.zst

node_modules
dist
dist-ssr
*.local
.vite
venv
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
migrations
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.egg-info
*.egg
*.whl
*.pyc
*.pyo
*.pyd
*.coverage
*.cover
*.cache
*.pkl
*.pklz
*.ipynb_checkpoints
*.ipynb
*.mypy_cache
*.pytest_cache
*.tox
*.venv
*.env
*.venv/
secrets.tfvars
.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
*.tfplan.*

.venv

.ssh/
/src/data_proccesing/data_comments/meta_chunk_1.csv
/src/data_proccesing/data_comments/meta_chunk_2.csv
/src/data_proccesing/data_comments/X_chunk_1.npz
/src/data_proccesing/data_comments/X_chunk_2.npz
